<div fxLayout="row" fxLayout.xs="column" class="container">
  <div fxLayoutAlign="start center" fxLayoutAlign.sm="space-around center" fxLayoutAlign.xs="center center" fxFlex="40%"
    fxFlex.xs="50%">
    <h2>Ben Eisenberger</h2>
  </div>
  <div fxLayoutAlign="end center" fxLayoutAlign.sm="space-around center" fxLayoutAlign.xs="center center"
    fxLayoutGap="16px" fxFlex="60%" fxFlex.xs="50%">
    <div fxLayout="row" class="header-social-container" fxHide.sm fxHide.xs>
      <a href="https://beneisenberger.bandcamp.com"><img src="assets/social-icons/bandcamp.png" /></a>
      <a href="https://instagram.com/beneisenberger"><img src="assets/social-icons/instagram.svg" /></a>
      <a href="https://twitter.com/beneisenberger"><img src="assets/social-icons/twitter.svg" /></a>
    </div>
  </div>
</div>
