<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center start"
  fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" fxLayoutGap.sm="48px" fxLayoutGap.xs="48px"
  class="container">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexOrder.sm="2"
    fxFlexOrder.xs="2">
    <div class="icon-container" fxLayout="row">
      <a href="https://beneisenberger.bandcamp.com"><img src="assets/social-icons/bandcamp.png" /></a>
      <a href="https://instagram.com/beneisenberger"><img src="assets/social-icons/instagram.svg" /></a>
      <a href="https://twitter.com/beneisenberger"><img src="assets/social-icons/twitter.svg" /></a>
    </div>
    <p>contact: ben.eisenberger@gmail.com</p>
    <p>Copyright 2022 Ben Eisenberger</p>
  </div>
</div>
