<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="container">
  <div fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start start" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
    <h2>About</h2>
    <p>Omaha, Nebraska-based guitarist, software developer, folk songwriter, overall noisemaker, amateur
      podcaster and politico, etc.</p>
    <h2>Recent</h2>
    <p>2022 East Coast/Midwest tour announcing soon.</p>
    <p>"Soloists" out now on Plastic Miracles</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
    <h2>Stack</h2>
    <p>FRONT: Angular 8+, Ionic 3+, Flutter, JavaScript/TypeScript/HTML/CSS</p>
    <p>UI: Bootstrap, Material Design, Ant Design </p>
    <p>BACK: Google Firebase/Firestore/Cloud Platform Funtions, Docker, PostgreSQL</p>
  </div>
</div>
