<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="container">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
    <h2>Contact</h2>
    <h3>Hey, I want to hear from you. Use this to email me.</h3>
    <div fxLayout="row wrap" class="form-container">
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center start">
        <h5>First Name</h5>
        <input mat-input />
      </div>
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center start">
        <h5>Last Name</h5>
        <input mat-input />
      </div>
      <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center start">
        <h5>Email Address</h5>
        <input mat-input />
      </div>
      <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
        <button mat-raised-button color="accent">Register Now</button>
      </div>
    </div>
  </div>
</div>
